body {
    /* overflow: hidden; */
    position: relative;
}

* {
    font-family: 'AOTFShinGoProLight', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

.bg {
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.footer-text {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.gradient-border {
    background: linear-gradient(transparent, transparent) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 3px solid transparent;
}

.slice0 {
    width: calc(100% / 22)
}

.slice1 {
    width: calc(100% / 22)
}

.slice2 {
    width: calc(100% / 22 * 2)
}

.slice3 {
    width: calc(100% / 22 * 3)
}

.slice4 {
    width: calc(100% / 22 * 4)
}

.slice5 {
    width: calc(100% / 22 * 5)
}

.slice6 {
    width: calc(100% / 22 * 6)
}